# ***Tutorial Pythoon w3 Schools***

# **Sintaxis**

In [2]:
print("Hello World")

if 5 > 2:
    print("Five is greater than two!")

Hello World
Five is greater than two!

# **Comentarios**

In [3]:
# This is a comment

"""
This is a comment
written in 
more that just one line
"""

'\nThis is a comment\nwritten in \nmore that just one line\n'

# **Variables**

In [8]:
# 1
carname = "Volvo"

# 2
x = 50

# 3 
x = 5
y = 10
print(x +y)

# 4
x = 5
y = 10
z= x + y
print(z)

# 5 2my-first_name = "John"
my_first_name = "John"

# 6
x = y = z = "Orange"

# 7
def myfunc(): 
    global x
    x = "fantastic"

15
15

# **Tipo de Datos**

In [14]:
#1
x = 5
print(type(x))

#2
x = "Hello World"
print(type(x))

#3
x = 20.5
print(type(x))

#4
x = ["apple", "banana", "cherry"]
print(type(x))

#5
x = ("apple", "banana", "cherry")
print(type(x))

#6
x = {"name" : "John", "age" : 36}
print(type(x))

#7
x = True
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

# **NÃºmeros**

In [16]:
#1
x = 5
x = float(x)

#2
x = 5.5
x = int(x)

#3
x = 5
x = complex(x)

# **Cadena**

In [36]:
#1
x = "Hello World"
print(len(x))

#2
txt = "Hello World"
x = txt[0]
print(x)

#3
txt = "Hello World"
x = txt[2:5]
print(x)

#4
txt = " Hello World "
x = txt.strip()
print(x)

#5
txt = "Hello World"
txt = txt.upper()
print(txt)

#6
txt = "Hello World"
txt = txt.lower()
print(txt)

#7
txt = "Hello World"
txt = txt.replace("H","J")
print(txt)

#8
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

11
H
llo
Hello World
HELLO WORLD
hello world
Jello World
My name is John, and I am 36

# **Booleanos**

In [38]:
#1
print(10 > 9)

#2
print(10 == 9)

#3
print(10 < 9)

#4
print(bool("abc"))

#5
print(bool(0))

True
False
False
True
False

# **Operadores**

In [42]:
#1
print(10 * 5)

#2
print(10 / 2)

#3
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")
    
#4    
if 5 != 10:
    print("5 and 10 is not equal")
          
#5         
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

50
5.0
Yes, apple is a fruit!
5 and 10 is not equal
At least one of the statements is true

# **Listas**

In [15]:
#1
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

#2
fruits = ["apple", "banana", "cherry"]
fruits[0] = "Kiwy"
print(fruits)

#3
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

#4
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

#5
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

#6
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

#7
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

#8
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

False

# **Tuplas**

In [43]:
#1
fruits = ("apple", "banana", "cherry")
print(fruits[0])

#2
fruits = ("apple", "banana", "cherry")
print(len(fruits))

#3
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[-1])

#4
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

apple
3
mango
('cherry', 'orange', 'kiwi')

# **Conjuntos**

In [44]:
#1
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("Yes, apple is a fruit!")
    
#2
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

#3
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

#4
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

#5
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

Yes, apple is a fruit!
{'cherry', 'banana', 'orange', 'grapes', 'apple', 'mango'}
{'cherry', 'apple'}
{'cherry', 'apple'}

# **Diccionarios**

In [50]:
#1
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

#2
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020
print(car)

#3
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"
print(car)

#4
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

#5
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'year': 1964}
{}

# **Condicionales**

In [59]:
#1
a = 50
b = 10
if a >b:
    print("Hello World")
    
#2
a = 50
b = 10
if a != b:
      print("Hello World")
        
#3
a = 50
b = 10
if a == b:
    print("Yes")
else:
    print("No")
    
#4
a = 50
b = 10
c = 23
d = 33

if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")
    
#5
if a == b and c == d:
    print("Hello")
    
#6
if a == b or c == d:
    print("Hello")
    
#7
if 5 > 2:
     print("Five is greater than two")
        
#8
if 5 > 2: print("Five is greater than two!")
    
#9
print("Yes") if 5 > 2 else print("No")

Hello World
Hello World
No
2
Five is greater than two
Five is greater than two!
Yes

# **Bucles**

In [73]:
#1
i = 1
while i < 6:
    print(i)
    i += 1
      
print("--------")  

#2
i = 1
while i < 6:
    if i == 3:    
        break
    i += 1

#3
i = 0
while i < 6:
    i += 1
    if i == 3:   
        continue
    print(i)
print("--------")  

#4
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
--------
1
2
4
5
6
--------
1
2
3
4
5
i is no longer less than 6

# **Bucle For**

In [4]:
#1
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
print("----------")

#2
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":   
        continue
    print(x)
print("----------")

#3
for x in range(6):
    print(x)    
print("----------")

#4
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":    
        break
    print(x)

apple
banana
cherry
----------
apple
cherry
----------
0
1
2
3
4
5
----------
apple

# **Funciones**

In [9]:
#1
def my_function():
    print("Hello from a function")
    
#2
my_function()

#3
def my_function(fname, lname):
    print(fname)
    
#4
def my_function(x):  
    return x + 5

#5
def my_function(*kids):
    print("The youngest child is " + kids[2])

#6
def my_function(**kid):
    print("His last name is " + kid["lname"])

Hello from a function

# **Lambda**

In [12]:
x = lambda a:a
print(x(3))

3

# **Clases**

In [18]:
#1
class MyClass:
    x = 5
    
#2
class MyClass:
    x = 5
p1 = MyClass()

#3
class MyClass:
    x = 5
p1 = MyClass()
print(p1.x)

#4
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

5

# **Herencia**

In [ ]:
#1
class Student(Person):
    
#2
class Person:
    def __init__(self, fname):
    self.firstname = fname

    def printname(self):
    print(self.firstname)

class Student(Person):
    pass

x = Student("Mike")
x.printname()

# **Modulos**

In [ ]:
#1
import mymodule
    
#2
import mymodule as mx

#3
import mymodule
print(dir(mymodule))

#4
from mymodule import person1

# **Elaborado por: Kenny Cruz GarcÃ­a.**